.box-layout {
  align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out($color: $dark-green, $amount: 0.25);
  border-radius: 7px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
  color: white;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  color: white;
  font-size: 4.5rem;
  text-decoration-line: underline;
  text-decoration-color: $yellow;
}
