.text-input {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  height: 48px;
  font-weight: 300;
  font-size: $font-size-large;
  padding: $s-size;
}

.description {
  max-width: 50%;
}

.amount {
  max-width: 35%;
}

.select {
  @extend .text-input;
}

.text-area {
  @extend .text-input;
  max-width: 60%;
  height: 10rem;
}
